* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  color: rgb(24, 24, 79);
  background-image: linear-gradient(rgb(255, 255, 255), rgb(130, 130, 190))
}

header {
  border-bottom: 5px solid rgb(24, 24, 79);
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: rgb(198, 198, 231);

}

.headerTextTitle {
  font-family: "Rubik Iso", sans-serif;
}



@media (min-width: 426px) {
.headerText {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-height: 8vh;
}

}


ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  list-style-type: none;
  gap: 10px;
  padding: 0 10px;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

section {
  height: 100vh;
}

.firstSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.thirdSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fourthSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.sectionText {
  width: 40%;
}

.sectionImg {
  width: 40%;
}


footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(203, 203, 241);
  max-height: 5vh;


}

/*media query */
@media (max-width: 426px) {
  body {
    background-color: rgb(189, 228, 228);
  }
  ul {
    flex-direction: column;
  }
  .headerTextTitle {
    display: flex;
    justify-content: center;
  
  }
  section {
    flex-direction: column;
  
  }
  .sectionText {
    width: 80%;

  }
  .sectionImg {
    width: 80%;
  }

  /* background image maybe?*/
  
}
